* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#2b1055, #7597de);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
h1 {
  font-size: 48px;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
  align-items: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  padding: 40px 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}
.timer {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 30px;
  margin: 0 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  width: 100px;
  height: 100px;
}
.timer:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  cursor: pointer;
}
.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.time {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5px;
}
.label {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .countdown {
    gap: 10px;
    flex-wrap: wrap;
  }
  .timer {
    width: 100px;
    height: 100px;
  }
  .time {
    font-size: 30px;
  }
  .label {
    font-size: 15px;
  }
}
